@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #0a1036;
  --color-secondary: #192a66;
  --color-highlight: #154a9b;
  --color-lightBlue: #f0f5f9;
}

@font-face {
  font-family: "square";
  src: url("/fonts/SQR721B.TTF") format("TTF");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Optional: Apply it globally */
body {
  font-family: "square", sans-serif;
}
